<!-- About Section -->
    <section id="journey">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Our Journey</h2>
                    <h3 class="section-subheading text-muted">DevOps, Containers and Platforms.<br>And Squirrel! Blockchain.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2001-2006</h4>
                                    <h4 class="subheading">DevOps Before DevOps</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        It started with a company run by Sales with an ever changing direction - like, every week. To survive, we needed iterative development, nightly deploys, manageable development streams
                                        and lots of automation. We extended version control to support cherry picking "need it now" features, created a trusted deployment pipeline with automated build,
                                        test and deploy, and a promotion system that allowed for daily releases with minimal downtime. Most important - a continuous improvement culture.<br><br>In short - DevOps.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2006-2013</h4>
                                    <h4 class="subheading">Rinse and Repeat</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        With a successful implementation of DevOps under our belt, we travelled around and applied it at other places. Every place we looked, we saw the same issues - a delivery system that stifled development
                                        and frustrated business and technology teams. We applied the same principles, tuning them as appropriate for each organization - and used the latest tools. With each success, the capacity of the
                                        organizations we were working with grew. No longer was the delivery of business value held back because of manual processes delaying innovation and sucking up resources.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - Present</h4>
                                    <h4 class="subheading">A DevOps Container Platform</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        At the Government of British Columbia, we worked on and helped direct a team that took the DevOps concepts to the Platform level, deploying a full on premise Container Platform -- Red Hat's OpenShift.
                                        That experience covered all levels of abstraction - architecting the system, deploying / maintaining the platform, designing the application pipeline, defining how teams would
                                        build applications, and last but perhaps most important, building a sharing community around the platform. It was an awesome, incredibly valuable experience.
                                        <br><br>And a huge success.
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017 - Present</h4>
                                    <h4 class="subheading">A Blockchain Deep Dive</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">
                                        As part of another BC Government project, we became involved with Blockchain, and specifically, the Linux Foundations's Hyperledger Indy project. As with the Container Platform experience,
                                        it allowed us to contribute to and help direct a major new innovation. Hyperledger Indy is a promising technology that adds a new Identity Layer
                                        to the Internet - and the privacy, security that comes with enabling trusted transactions on the Internet. And since Hyperledger Indy is based on Blockchain
                                        we've learned a lot about that in the process.<br><br>Never a dull moment!
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Let Us Help
                                    <br>with Your Journey!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>