<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Services</h2>
                    <h3 class="section-subheading text-muted">Identity on Blockchain ▵ DevOps
                    <br><br>Consulting ▵ Technical Writing ▵ Training</h3>
                    </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-connectdevelop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Identity on Blockchain, Verifiable Credentials</h4>
                    <p class="text-muted">We have been working with, and
                    contributing to the Linux Foundation’s Hyperledger Indy and
                    Aries projects for more than two years. In that work, we've
                    dug deeply into self-sovereign identity (SSI), decentralized
                    identifiers (DIDs), verifiable credentials (VCs) and the
                    blockchain foundation that will drive the next major wave of
                    Internet innovation. Want help with understanding blockchain
                    and whether your organization should be getting involved? We
                    can help you understand the space, if you should be using
                    the technology and if so, how you can get started.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">DevOps</h4>
                    <p class="text-muted">We've been implementing end-to-end
                    value stream optimizations, integrating Development and
                    Operations teams (DevOps), and creating continuous
                    improvement cultures for more than 15 years. We provide
                    customized (and open source) training to help your team
                    align on what is to be expected from a DevOps
                    transformation. We'll work with you to create and execute an
                    agile plan to iteratively and openly carry out your
                    transformation to an effective DevOps culture—giving you
                    agility and expanded delivery capabilities.
                    </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-info fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Consulting, Training and Technical Writing</h4>
                    <p class="text-muted">We offer consulting, training and
                    technical writing for Identity using Blockchain solutions
                    and DevOps. In both domains we have anchor our services
                    around two courses for getting started, a half- to one-day,
                    business-level “get-up-to-speed”courses, and one- to
                    two-day, “deep-dive, hands-on for developers" courses. Both
                    courses are intended to be customized and extended to kick
                    off discussions and planning for your specific use
                    cases.<br><br>Want a sample of what we can do?  We created
                    the Linux Foundation's course on Hyperledger Aries, Indy and
                    Ursa. Check it out <a href="https://www.edx.org/course/introduction-to-hyperledger-sovereign-identity-blockchain-solutions-indy-aries-and-ursa">here</a>.
                    </p>
                </div>
            </div>
        </div>
    </section>